@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
   background-color: #222222;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #fafafa;
   font-family: 'Anton', sans-serif;
}

